textarea::placeholder {
    color: #b4b4b4 !important;
    opacity: 1;
}

textarea::placeholder {
    color: #b4b4b4 !important;
    opacity: 1;
}

textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}